allow wcnss_service wifi_efs_file:dir search;
allow wcnss_service wifi_efs_file:file r_file_perms;
allow wcnss_service efs_file:dir search;
allow wcnss_service persist_data_file:dir search;
allow wcnss_service persist_data_file:file { read write };
allow wcnss_service persist_data_file:file open;
allow wcnss_service persist_data_file:file setattr;
